{% include "header.html" %}


<div class="first-block">
    <button></button>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-6 mx-auto d-flex justify-content-center align-items-center">
                <div class="w-75 text-animation">
                    <h1 style="font-size:2em;"  align="left" class="wixui-rich-text__text">Hello!</h1>
                    <h1 class="fw-light" style="font-family: Georgia, serif; font-size: 2em" align="left">I'm</h1>
                    <h1 class="fw-light" style="font-family: Georgia, serif; font-size: 2em" align="left">Ponnam Rishwanth</h1>
                    <div>
                        <p class="lead text-body-secondary" style="font-family: Calibri,sans-serif; font-size:1.6em; text-align: justify">
                        <span>I'm a Python developer specializing in crafting scalable solutions with clean code and innovative problem-solving. My commitment to continuous learning keeps me at the forefront of Python development trends. Let's collaborate to build the future, one Python script at a time!</span>
                    </p>
                    </div>

                </div>
            </div>
            <div class="col-lg-6 col-md-6 mx-auto d-flex justify-content-center align-items-center">
                <div class="img-animation">
                    <img src="/static/ponnam.jpg" width="400" height="400" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
</div>


{% include "footer.html" %}





