{% include "header.html" %}
<style>

     .container6 {
            font-family: Arial, sans-serif;
            margin: 0 auto; /* Center horizontally */
            padding: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center; /* Align items vertically */
        }

        .skills {
            flex-basis: 23%; /* Adjusted flex-basis to accommodate spacing */
            margin: 0 10px; /* Add spacing between containers */
        }

        .skills ul {
            list-style-type: disc;
            padding-left: 20px;
            margin-top: 0; /* Remove default margin for ul */
        }

            .container-9 {
      display: flex;
      justify-content: center;
       padding: 20px;
    }
</style>
<body>
 <div class="first-block " >

        <div class="my-5">
            <div class="p-5 text-center bg-body-tertiary">
                      <h1 class="about=me" align="center"> About Me</h1>
                <div class="container py-5">
                    <div class="img-animation">

                    </div>

                   <div class="text-animation"  style="font-family: Georgia, serif; font-size: 1.6em; text-align: justify;">
                        <p>
                            I’m a BTech student passionate about innovation. I view every opportunity as a chance to learn, explore, and grow. I thrive on challenges, seeing them as platforms to showcase my abilities and turn problems into opportunities for growth. I’m committed to continuous learning and achieving greatness. I believe in the power of connection and collaboration. Let’s explore the exciting world of innovation together. This journey is not just about me, but about us, learning and growing together.
                        </p>

               </div>

                </div>
            </div>
        </div>
    </div>
 <div class="container">
    <img src="/static/icons8-tools-100.png" width="50" height="50">
    <h1>Skills </h1>
</div>
<hr style="border: 1px solid black; margin: 20px 0;">
<div class="container6">
    <div class="skills">
        <h2>Web Development</h2>
        <ul>
            <li>HTML</li>
            <li>JavaScript</li>
            <li>Flask</li>
            <li>CSS</li>
            <li>Bootstrap</li>
        </ul>
    </div>

    <div class="skills">
        <h2>Web Scraping</h2>
        <ul>
            <li>Beautiful Soup</li>
            <li>Selenium</li>
        </ul>
    </div>

    <div class="skills">
        <h2>Database</h2>
        <ul>
            <li>SQL</li>
            <li>SQLite</li>
            <li>PostgreSQL</li>
        </ul>
    </div>

    <div class="skills">
        <h2>Data Science</h2>
        <ul>
            <li>Pandas</li>
            <li>NumPy</li>
            <li>Matplotlib</li>
            <li>Plotly</li>
            <li>Scikit-learn</li>
            <li>Seaborn</li>
        </ul>
    </div>
</div>
</body>


















































{% include "footer.html" %}
