{% include "header.html" %}



<section id="projects" class="first-block   ">
  <h1> Some of My Projects</h1>
  <div class="project-block">
    <img class="img-animation"    src="/static/sanke.jpeg" alt="Project 1">
    <h2>Sanke Game </h2>
    <p><B></B>By using turtle module in python</p>
    <a href="https://github.com/ponnamrishwanth/snake-game-">View Project</a>
  </div>
  <div class="project-block">
    <img class="img-animation" src="static/Designer (2).png" alt="Project 2">
    <h2>Habit tracker</h2>
    <p>By using python & API</p>
    <a href="https://github.com/ponnamrishwanth/habit-tracker">View Project</a>
  </div>
  <div class="project-block">
    <img class="img-animation" src="/static/web.png" alt="Project 3">
    <h2>Web Scraping</h2>
    <p>Web Scraping by Using Python in Amazon</p>
    <a href="https://github.com/ponnamrishwanth/Amazon-web-scraping">View Project</a>
  </div>
  <div class="project-block">
    <img  class="img-animation" src="static/rani .png" alt="Project 4">
    <h2>Rain alert</h2>
    <p> Rain alert by using Stmpd and Api</p>
    <a href="https://github.com/ponnamrishwanth/Rain.alert">View Project</a>
  </div>
</section>

<style>

#projects {
  text-align: center;
  padding: 50px 0;
  border: 2px solid black;
  border-radius: 10px;
}

.project-block {
  display: inline-block;
  margin: 20px;
  padding: 20px;
  border: 2px solid black; /* Changed border color to black */
  border-radius: 10px;
}

.project-block img {
  width: 200px;
  height: 150px;
  border-radius: 10px;
}

.project-block h2 {
  margin-top: 10px;
}

.project-block p {
  margin-top: 5px;
  font-size: 14px;
}
</style>











    `




























































































{% include "footer.html" %}